.main-box {
  position: relative;
  width: 400px;
  height: 400px;
  border: 5px solid #ff7675;
  margin: 0 auto;
}

.general-box {
  position: absolute;
  width: 100px;
  height: 100px;
}

.box-1 {
  background-color: #fdcb6e;
  right: -50px;
  top: 50px;
}

.box-2 {
  background-color: #6c5ce7;
  left: -50px;
  top: 150px;
}

.box-3 {
  background-color: #00b894;
  bottom: -50px;
  right: 50px;
}

.box-2-inner-div {
  width: 100%;
  height: 100%;
  position: relative;
}

.inner-child {
  position: absolute;
  width: 40px;
  height: 40px;
}

.inner-child-1 {
  background-color: #ff7675;
  right: -20px;
  top: 20px;
}

.inner-child-2 {
  background-color: #ff7675;
  left: -20px;
  bottom: 20px;
}
